* {
	box-sizing: border-box;
	font-family: "Kavoon";
}
/* VARIABLES  */

:root {
	--main-color-light: #f9e9d6;
	--text-color-light: black;
	--main-color-dark: #1F1B18;
	--text-color-dark: whitesmoke;
	--header-color-light: rgb(212, 212, 212);
	--header-color-dark: #1F1B18;
}
/* 
body {
	overflow-x: hidden; 
} */
/* HEADER  */

/* DARK MODE  */

body {
	margin: 0;
	background-color: var(--main-color-light);
	color: var(--text-color-light);
}

#theme-switch {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8D6038;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 0;
	border: 0;
}

#theme-switch svg {
	fill: #FEEAA1;
}

#theme-switch svg:last-child {
	display: none;
}

.darkmode #theme-switch svg:first-child {
	display: none;
}

.darkmode #theme-switch svg:last-child {
	display: block;
}
/* FIN DARK MODE  */

header {
	color: var(--text-color-light);
	width: 100vw;
	height: 20vh;
}
header.darkmode {
	background-color: var(--header-color-dark);
	color: var(--text-color-dark);
}

/* RESPONSIVE  */

@media screen and (min-width: 992px) {

}

.hautHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.modales {
	display: flex;
	align-items: center;
	width: 50%;
	justify-content: space-evenly;
}

/* bouton règles  */
#open_modal_button {
	margin: 1rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3 all ease-in-out;
	background-color: #8D6038;
	color: #FEEAA1;
}

#open_modal_button:hover {
	background-color: var(--main-color-light);
	color: var(--text-color-light);
}

#regles {
	background-color: var(--main-color-dark);
	color: var(--text-color-dark);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	height: 60vh;
	background-color: var(--main-color-dark);
	box-shadow: rgb(21, 21, 21) 0 10px 20px 0;
	border-radius: 10px;
	padding: 20px;
	display: none;
}

.modal--open {
	transform: translate(-50%, -50%);
  color: whitesmoke;
}

#modal_close {
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
	transition: 0.3s all ease-in-out;
}
#modal_close svg {
	height: 20px;
	width: 20px;
}

#modal_close:hover {
	transform: rotate(360deg);
}

#rules {
	margin-top: 0;
}

.modal_body p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1rem;
}

.modal_footer_button {
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	color: #1F1B18;
	cursor: pointer;
	transition: 0.3 all ease-in-out;
	background-color: #FEEAA1;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.modal_footer_button:hover {
	background-color: #CFBB74;
}

.modal--open {
	display: block;
}
/* fin modale  */

h1 {
	text-align: center;
	font-size: 2.5rem;
	margin: 0;
}

/* MAIN  */

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	background-color: var(--main-color-light);
}

main.darkmode {
	background-color: var(--main-color-dark);
	color: var(--text-color-dark);
}

h2 {
	font-size: 2rem;
	width: 100%;
}

h3 {
	text-align: center;
}

#cookieBouton {
	border-radius: 50%;
	border: 0;
	background-color: rgba(255, 0, 0, 0);
	width: 100%;
	margin: 0;
  margin-bottom: 5rem;
}

#cookieBouton:active {
	transform: scale(1.05);
}

#cookieBouton img {
	width: 90%;
}

/* AURELIA  */

.image {
	width: 50%;
}
.grand_mere h3 {
  font-size: 1.5rem;
}

/* cartes */
.construction {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.container_carte {
	width: 80%;
	margin: 0 auto;
	background-color: #f8eab8;
	border-radius: 40px;
  box-shadow: 10px 10px 20px #614329;
}
.carte {
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.5rem;
  color: #1F1B18;
}
.carte p {
	font-size: 2rem;
}

.grand_mere button {
  border: none;
  padding-bottom: 1rem;
}

span {
	display: flex;
	justify-content: center;
  font-size: 1.5rem;
  margin-top: 0.5rem;

}

.upgrade.darkmode {
	fill: var(--text-color-dark);
}

.upgrade-container {
	display: flex;
	flex-direction: column;
}

.upgrade-title {
	color: var(--text-color-light);
}

/* MATEUSZ  */

/* Contenu principal */
.main-content {
	flex-grow: 1; /* Occupe l'espace restant au-dessus des améliorations */
}

/* Layout pour aligner le titre à gauche et les améliorations à droite */
.upgrade-layout {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}
/* Titre pour les améliorations */
.upgrade-title {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 10px; /* Un petit espace sous le titre */
	margin: 4rem 0;
}

/* Alignement des éléments (curseur, grand-mère, etc.) en ligne et décalés vers la droite */
.upgrade-container {
	display: flex;
	justify-content: center;
	gap: 20px;
}

/* Style des éléments */
.upgrades-section .upgrade {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.upgrades-section .upgrade-icon {
	width: 50px;
	height: 50px;
}

/* Bouton centré en dessous */
#toggle-stats {
	width: 200px;
	padding: 10px 20px;
	background-color: #abadab;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	margin: 20px auto 80px auto;
	display: block;
}
/* Style du menu déroulant */
#stats-menu {
	display: none; /* Caché par défaut */
	background-color: #f7f7f7;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: relative;
	width: 200px; /* Ajuste la largeur du menu */
	margin-top: 10px;
}

#stats-menu ul {
	list-style-type: none; /* Retire les puces de liste */
	padding: 0;
	margin: 0;
}

#stats-menu ul li {
	margin-bottom: 10px;
}

#stats {
	display: none;
	text-align: center;
}

.hidden {
	display: none;
}

/* Style pour le footer */
.footer {
	width: 100%;
	background-color: #333;
	color: var(--header-color-light);
	text-align: center;
	padding: 10px 0;
}

/* Style pour le conteneur des étoiles avec disposition en grille */
.stars {
	display: grid;
	grid-template-columns: repeat(5, 20px); /* Crée 5 colonnes pour aligner les étoiles */
	grid-template-rows: repeat(2, 20px); /* Crée 2 lignes pour les étoiles */
	gap: -100px; /* Espacement entre les étoiles */
	justify-content: center; /* Centre les étoiles dans le conteneur */
	margin-top: 5px;
}

/* Positionnement des étoiles sur la première ligne */
.stars img:nth-child(1) {
	grid-column: 1; /* Place la 1ère étoile dans la 1ère colonne */
	grid-row: 1; /* Sur la première ligne */
}

.stars img:nth-child(2) {
	grid-column: 3; /* Place la 2ème étoile dans la 3ème colonne */
	grid-row: 1; /* Sur la première ligne */
}

.stars img:nth-child(3) {
	grid-column: 5; /* Place la 3ème étoile dans la 5ème colonne */
	grid-row: 1; /* Sur la première ligne */
}

/* Positionnement des étoiles sur la deuxième ligne */
.stars img:nth-child(4) {
	grid-column: 2; /* Place la 4ème étoile entre la 1ère et la 2ème étoile */
	grid-row: 2; /* Sur la deuxième ligne */
}

.stars img:nth-child(5) {
	grid-column: 4; /* Place la 5ème étoile entre la 2ème et la 3ème étoile */
	grid-row: 2; /* Sur la deuxième ligne */
}

/* Style pour les icônes d'étoile */
.star-icon {
	width: 20px;
	height: 20px;
}

/* MATEUSZ Style pour les étoiles allumées */
.active-star {
    filter: brightness(1.5); /* Rend l'étoile plus lumineuse */
  }
/* MATEUSZ Style pour la modale */
.stats-modal {
    display: none; /* Masqué par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Arrière-plan semi-transparent */
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /*        ------          */